<div class="col-md-12">
    <div class="jumbotron">
        <h1 class="display-4">Curso: </h1>
        <h1 class="display-4">Número do curso: </h1>
    </div>
</div>
<table class="table table-striped ">
    <thead>
        <tr class="row m-3">
            <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Número do Estudante</th>
            <th class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Nome do Estudante</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row m-3">
            <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">003</th>
            <td class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Talisson De Melo</td>
        </tr>
    </tbody>
</table>