<div class="col-md-12">
    <div class="jumbotron">
        <h1 class="display-4">Olá, Nome usuário</h1>
    </div>
</div>
<table class="table table-striped ">
    <thead>
        <tr class="row m-3">
            <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">ID</th>
            <th class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Curso</th>
            <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Professor</th>
            <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Categoria</th>
            <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Data de inscrição</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row m-3">
            <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">001</th>
            <td class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Java</td>
            <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Instrutor 001</td>
            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2"> Programação OO</td>
            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2"> 01/02/2021</td>
        </tr>
    </tbody>
</table>