<div>
        <nav *ngIf="false" class="navbar navbar-expand navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                        <img id="profile-img" class="profile-img-card" src="./favicon.ico"/> Angular
                </a>
                <div class="navbar-nav mr-auto"><a routerLink="/home" class="nav-item nav-link">Home</a></div>
                <div class="navbar-nav ml-auto"><a href="#" class="nav-item nav-link"> Nome usuário</a></div>
                <div class="navbar-nav ml-auto"><a href="#" class="nav-item nav-link"> Sair</a></div>
        </nav>
        <nav  *ngIf="true" class="navbar navbar-expand navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                        <img id="profile-img" class="profile-img-card" src="./favicon.ico"/> Angular
                </a>
                <div class="navbar-nav mr-auto">
                        <a routerLink="/home" class="nav-item nav-link"> Home</a>
                </div>
                <div class="navbar-nav ml-auto">
                        <a href="" class="nav-item nav-link">Cadastre-se</a>
                        <a routerLink="/login" class="nav-item nav-link"> Fazer login</a>
                </div>
        </nav>
</div>
<router-outlet></router-outlet>